<h1> Welcome to our Recipe Box </h1>

<% if @categories.any?() %>
  <ul><% @categories.each() do |category| %>
    <li><a href='/category/<%= category.id() %>'><%= category.name() %>[<a href="/delete_category/<%= category.id() %>">x</a>]</a></li>
    <% end %>
  </ul>

<% else %>
  <h3> There are no categories </h3>
<% end %>

<form action='/' method='post'>
  <label for='category_name'>Category Name: </label>
  <input id='category_name' name='category_name' type='text'>
  <button type='submit'>Add Category</button>
</form>

<h3><a href='/recipes/all'>List of all recipes!</a></h3>
