<h1>List of All ingredients</h1>
<hr>

<% if @ingredients.any?() %>
  <% @ingredients.uniq.each() do |ingredient| %>
  <li><%= ingredient.name() %>  [<a href="/delete_ingredient/<%= ingredient.id() %>">x</a>]</li>
  <%end%>
<% else %>
  <h5>There are no ingredients added</h5>
<% end %>


<h3> Add Ingredients Here </h3>
<form action='/ingredients_list' method="post">
  <label for='recipe_ingredient'>Recipe Ingredients: </label>
  <input id='recipe_ingredient' name='recipe_ingredient' type='text'>
  <button type='submit'>Add Ingredient</button>
</form>

<a href='/'> HOME </a>
